@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('../fonts/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Namearrow_forward:before { content: "\e903"; }
.icon-Namecheck:before { content: "\e911"; }
.icon-Nameclock-m:before { content: "\e912"; }
.icon-Namelocation-m:before { content: "\e925"; }
.icon-Namebag-m:before { content: "\e90e"; }
.icon-Namebag-alt-m:before { content: "\e90d"; }
.icon-NameHeart:before { content: "\e921"; }
.icon-NameStars:before { content: "\e92f"; }
.icon-Nameclose-r:before { content: "\e913"; }
.icon-Namearrow_down:before { content: "\e902"; }
.icon-Namefile-m:before { content: "\e918"; }
.icon-Namephone-m:before { content: "\e92a"; }
.icon-Nameverified_badge:before { content: "\e933"; }
.icon-Nameexport:before { content: "\e916"; }
.icon-Nameemail-m:before { content: "\e917"; }
.icon-Namewatch-m:before { content: "\e935"; }
.icon-Nameuser-m:before { content: "\e932"; }
.icon-Namestar:before { content: "\e92e"; }
.icon-Namehome-m:before { content: "\e922"; }
